---
layout: archive
permalink: /
author_profile: true
hide_title: true
title: "Work"
redirect_from: 
  - /research/
  - /research.html
---

{% include base_path %}

<style>

#mosaic-container {
    width: 100%;
}

    #mosaic {
        clear: both;
        width: 860px;
        margin-left: auto;
        margin-right: auto;
    }

#mosaic div.withImage {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    width: 370px;
  }

  #mosaic div.thumbnail {
    -webkit-transition: all 150ms;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 290px;
  }

.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
    
  .withImage div.title {
    display: block;
    padding-top: 4pt;
    font-size: 14pt;
    line-height: 24pt;
    font-weight: 300;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.2pt;
    text-decoration: none;
  }

  #mosaic a:hover {
    text-decoration: none;
  }

  #mosaic a {
    color: black;
  }

</style>

<div id="mosaic-container">


    <div id="mosaic">
        
        {% assign projects = site.portfolio | sort: 'year' | reverse  %}
        {% for post in projects %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
                <div class="item withImage" >
                    <div class="thumbnail grayscale" style="background-image: url('{{post.thumbnail | relative_url }}');"></div>
                    <div class="title">
                        {{ post.short_title  | default: post.title }}
                    </div>
                </div>
            </a>
            
        {% endfor %}

        <div style="clear: both"></div>

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>

    $('.withImage').hover(function(){
      $(this).children('.thumbnail').removeClass('grayscale');
    },function(){
      $(this).children('.thumbnail').addClass('grayscale');
    });

    const item_width = 370 + 60;
    var resizeFunc = function() {
/*        console.log("width:" + $("#mosaic div.withImage").outerWidth()); */
        var max_width = $( "#mosaic-container" ).width();
        const quotient = Math.floor(max_width/item_width);
        if(quotient < 1) {
            $("#mosaic div.withImage").width(max_width - 60);
            $("#mosaic div.thumbnail").height((max_width - 60)*(290.0/370.0));
            $( "#mosaic" ).width(max_width);
/*            console.log("single image, scaling to width "+ max_width)*/ 
        } else {
            $("#mosaic div.withImage").width(item_width - 60);
            $( "#mosaic" ).width(quotient * item_width);
/*            console.log("n=" + quotient + " images in width "+max_width) */
        }
    };
    $( document ).ready(resizeFunc);
    $( window ).on( "resize", resizeFunc);
  
  </script>
