---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include mosaic.html posts=site.teaching %}

<!-- {% include base_path %}

{% for course in site.teaching reversed %}


{% include base_path %}

{% if course.header.teaser %}
  {% capture teaser %}{{ course.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if course.id %}
  {% assign title = course.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = course.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if course.link %}
        <a href="{{ course.link }}">{{ title }}</a> <a href="{{ base_path }}{{ course.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ course.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {{ course.role }},
    <i>{{ course.semester }}</i> 
    <br/>
    {{course.type}}


    {% if course.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ course.excerpt | markdownify }}</p>
    {% elsif course.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ course.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ course.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
  </article>
</div>



{% endfor %} -->
