{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <style>

        nav button {
            height: 40px !important; 
        }

        .masthead {
            height: 73px !important;
        }

        ul.visible-links span.tagline {
            display: inline;
        }

        ul.hidden-links span.tagline {
            display: none;
        }

        ul.visible-links {
            height: 40px !important;
        }

    </style>
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg" id="site_title">
            <a href="{{ base_path }}/">
                {{ site.title }} 
                {% if site.subtitle %}
                    <span class="tagline">| {{ site.subtitle }}</span>
                {% endif %}
            </a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>

    </div>
  </div>
</div>